html {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-dark {
  background-color: rgb(144, 195, 190);
  border-color: rgb(144, 195, 190);
}

.btn-light {
  background-color: rgb(199, 231, 226);
  border-color: rgb(199, 231, 226);
}

.banner {
  min-height: 16em;
  max-height: 24em;
  overflow: hidden;

}

.text-dark {
  color: #808080;
}

.light-grey {
  background-color: #f4f4f4;
}

.blue {
  background-color: rgb(144, 195, 190);
}

.nav a:hover {
  color: rgb(144, 195, 190);
}
