html {
  font-family: Raleway, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-dark {
  background-color: #2f6c66;
  border-color: #2f6c66;
}

.banner {
  min-height: 16em;
  max-height: 24em;
  overflow: hidden;
  position: relative;
  background-color: #2f6c66;
}

.text-dark {
  color: #808080;
}

.text-white {
  color: #fff;
}

.text-blue {
  color: #2f6c66;
}

.light-grey {
  background-color: #f4f4f4;
}

.blue {
  background-color: #2f6c66;
}

.nav a:hover {
  color: #2f6c66;
}

.card {
  border: 3px solid #e4e4e4;
  border-radius: .5rem;
}

table {
  min-width: 40em;
}

tbody tr:nth-child(odd) {
  background-color: #e2e2e2;
}

.name {
  width: 15em;
}

@media only screen and (min-width: 38em) {

  .nav {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible;
  }

}
